<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Declares that FoxTune uses USB host mode (OTG). required="false" keeps
         it installable on devices without host mode, which can still reach an
         ECU over TCP. This is a declaration only: permission to talk to a
         particular device is granted separately, at runtime or through the
         attach prompt below. -->
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <!-- Required to reach an ECU over TCP - an ESP8266/ESP32 WiFi bridge, or the
         development simulator on another machine.

         Flutter's template only declares this in the debug and profile manifests,
         so a RELEASE build without it fails every socket with
         "OS Error: Operation not permitted, errno = 1": Android denies socket()
         outright to a process that does not hold INTERNET. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="FoxTune"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Plugging in a board listed in device_filter.xml offers to open
                 FoxTune. Ticking "always" makes Android remember the USB
                 permission, so connecting does not prompt every time. The app
                 opens on the connect screen with the board at the top of the
                 list; connecting is still a deliberate tap. -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
